<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Quiz Capitali</title>
    
    <link rel="stylesheet" href="/css/home_custom.css"/>
</head>
<body>
    <div class="container" id="main-container">
        <div style="position: relative; display: inline-block;">
            <button id="play-btn" class="gioca-btn">Gioca</button>
            <span class="flames"></span>
        </div>
    </div>
    <div id="transition" class="transition-hidden">
        <img src="/img/chad.gif" alt="Transizione" class="transition-img"/>
    </div>
    <script src="/js/home_transition.js"></script>
</body>
</html>